opencv-python==4.9.0.80
prettytable==3.10.0
numpy==1.26.4
cv-3==1.2.0
wcwidth==0.2.13
jsonschema-specifications==2024.10.1
pyinstaller-hooks-contrib==2024.6
certifi==2024.2.2
pefile==2023.2.7
setuptools==63.2.0
cryptography==38.0.1
gevent==24.2.1
attrs==24.2.0
packaging==24.0
aiofiles==23.2.1
executor==23.2
pip==22.2.1
python-telegram-bot==21.5
coloredlogs==15.0.1
pillow==10.3.0
websockets==10.3
humanfriendly==10.0
click==8.1.7
pyinstaller==6.7.0
zope.interface==6.4.post2
multidict==6.0.5
traitlets==5.14.3
nbformat==5.10.4
isort==5.10.1
jupyter-core==5.7.2
cachetools==5.5.0
lxml==5.3.0
flask-cors==5.0.0
zope.event==5.0
fonttools==4.51.0
jsonschema==4.23.0
pytelegrambotapi==4.22.1
beautifulsoup4==4.12.3
typing-extensions==4.12.2
anyio==4.4.0
esptool==4.2.1
async-timeout==4.0.3
thonny==4.0.1
bcrypt==4.0.0
aiogram==3.12.0
aiohttp==3.10.5
matplotlib==3.8.4
idna==3.7
pyserial==3.5
asyncio==3.4.3
pyreadline3==3.4.1
charset-normalizer==3.3.2
bitstring==3.1.9
jinja2==3.1.4
werkzeug==3.1.3
pyparsing==3.1.2
flask==3.0.3
greenlet==3.0.3
markupsafe==3.0.2
property-manager==3.0
auto-py-to-exe==2.43.3
requests==2.32.2
pycparser==2.21
pydantic-core==2.20.1
fastjsonschema==2.20.0
pylint==2.14.5
astroid==2.11.7
paramiko==2.11.0
python-dateutil==2.9.0.post0
pydantic==2.8.2
soupsieve==2.6
platformdirs==2.5.2
pygame==2.5.2
aiohappyeyeballs==2.4.0
urllib3==2.2.1
itsdangerous==2.2.0
pigar==2.1.6
asttokens==2.0.8
tomli==2.0.1
six==1.16.0
cffi==1.15.1
wrapt==1.14.1
scipy==1.13.0
yarl==1.9.11
blinker==1.9.0
pyperclip==1.8.2
send2trash==1.8.1b0
pynput==1.7.7
lazy-object-proxy==1.7.1
verboselogs==1.7
reedsolo==1.5.4
pynacl==1.5.0
kiwisolver==1.4.5
frozenlist==1.4.1
aiosignal==1.3.1
sniffio==1.3.1
exceptiongroup==1.2.2
contourpy==1.2.1
pytweening==1.2.0
adafruit-board-toolkit==1.1.0
magic-filter==1.0.12
pymsgbox==1.0.9
httpcore==1.0.5
python-dotenv==1.0.1
future==1.0.0
mypy==0.971
wheel==0.37.1
referencing==0.35.1
httpx==0.27.2
rpds-py==0.21.0
docutils==0.19
fasteners==0.19
jedi==0.18.1
ecdsa==0.18.0
altgraph==0.17.4
eel==0.16.0
h11==0.14.0
keyboard==0.13.5
bottle==0.12.25
cycler==0.12.1
tomlkit==0.11.4
gevent-websocket==0.10.1
pyautogui==0.9.54
parso==0.8.3
annotated-types==0.7.0
mccabe==0.7.0
whichcraft==0.6.1
packet==0.5
colorama==0.4.5
mypy-extensions==0.4.3
dill==0.3.5.1
bottle-websocket==0.2.9
pywin32-ctypes==0.2.2
pyrect==0.2.0
pyscreeze==0.1.30
mouseinfo==0.1.3
pygetwindow==0.0.9
telebot==0.0.5
